.home {
  margin: 5px;
}
.popular {
  margin: 5px;
}
.gaming {
  margin: 5px;
}
.sports {
  margin: 5px;
}
.buisness {
  margin: 5px;
}
.crypto {
  margin: 5px;
}
.television {
  margin: 5px;
}
.celebrity {
  margin: 5px;
}
.more-topics {
  margin: 5px;
}
